.mainContent {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: calc(100vh - 150px);
  overflow: auto;
  /*min-height: calc(100vh - 150px);
  min-width: 100vh;
  float: left;*/
  background: #3c3e44;
  transition: 0.5s;
}

.mainContent#mainContentId.active{
  filter: brightness(50%);
    transition: 0.5s;
}
/*
table, th, td, tr {
  border: 1px solid;
  padding: 15px;
  width: 100%;
  table-layout: fixed;
  align-content: center;
  color: #bbbdc3;
}

table th {
    color: #bbbdc3;
}
*/

.popupCategory{
  position: absolute;
  top: 40%;
  left: calc(50vw + 150px);
  justify-content: center;
  transform: translate(-50%,-50%);
  padding: 50px;
  box-shadow: 0 5px 30px rgba(0,0,0,.30;);
  background: #3c3e44;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;

}

.popupCategory.active{
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
  top: 50%;
}


.contentHead{
  float: left;
  padding: 25px;
  flex: 0 0 auto;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
}
.contentHead h1{
  font-family: 'Roboto Mono', monospace;
  font-weight: 600;
  font-size: 50px;
  color: #bbbdc3;
  font-style: bold;

}


.popupCategory h1{
  font-family: 'Roboto Mono', monospace;
  font-weight: 600;
  font-size: 35px;
  color: #bbbdc3;
  font-style: bold;

}


.plusButton{
  height: 100px;
  margin-left: auto;
  order: 2;
}
