html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background: #3c3e44;
  overflow: hidden;
}

@media (orientation: portrait){
.sideNavBar {
  visibility: hidden;
  background: #242629;
  display: flex;
  flex-flow: column;
  position:relative;
  height: 100%;
  width: 300px;
  height: calc(100vh - 150px);
  right:0px;
  bottom:0px;
  left:0px;
}
}

@media (min-width:960px){
.sideNavBar {
  background: #242629;
  display: flex;
  position:relative;
  flex-flow: column;

  height: calc(100vh - 150px);
  width: 300px;
float: left;
  overflow: auto;
  right:0px;
  bottom:0px;
  left:0px;
}
}

@media (min-height:760px){


::-webkit-scrollbar {
    display: none;
}

.constantElements {
  display: flex;
  flex-direction: column;
}


.sideNavBar {
  background: #242629;
  display: flex;
  flex-flow: column;
  position:relative;
  height: 100%;
  width: 300px;
  height: calc(100vh - 150px);
  right:0px;
  bottom:0px;
  left:0px;
  flex-flow: column;
}



.navBarTopBtn {
  transition: .3s;
  background: #242629;
  height: 85px;
  display: flex;
  justify-content: center;
  left: 10px;
  right: 10px;
  align-items: center;
  font-family: 'Roboto Mono', monospace;
  font-weight: 600;
  font-size: 30px;
  color: #99aab5;
}

.navBarBtmBtn {
  margin-top: auto;
}

.selected {
 background: #2c2f33 !important;
/*  cursor: pointer; */
}
.navBarTopBtn:hover{
  transition: .1s;
 background: #2c2f33;
 cursor: pointer;
}
.navBarBtmBtn:hover{
  transition: .1s;
 background: #2c2f33;
 cursor: pointer;
}

#notificationsBtn:hover{
  transition: .1s;
 background: #2c2f33;
 cursor: pointer;
}

#notificationsBtn{
  display: flex;
  background: #242629;
  height: 85px;
  margin-bottom: 0;
  align-items:center;
  justify-content:center;
  transition: .1s;
  font-family: 'Roboto Mono', monospace;
  font-weight: 600;
  font-size: 30px;
  color: #99aab5;
}
#navBarPfpBtn:hover{
  transition: .1s;
 background: #2c2f33;
 cursor: pointer;
}
#navBarPfpBtn {
  transition: .1s;
  display: flex;
  background: #242629;
  height: 100px;
  margin-bottom: 0;
  align-items:center;
  justify-content:center;
  font-family: 'Roboto Mono', monospace;
  font-weight: 600;
  font-size: 30px;
  color: #99aab5;
}

#navBarPfpBtn h1{
padding-right: 20px;
}

#pfpicture {

  display: inline;
  height: 75%;
  margin-right: 20px;
  border-radius: 50%;
}

.headNavBar {
  width: 100%;
  height: 150px;
  background: #242629;
  display: flex;
  flex: 0 1 auto;
flex-flow: row;
}

.headNavBar:hover{
   cursor: pointer;
}



.pageHead{
  display: flex;
  height: 100%;
  width: 100%;
  align-self: flex-end;
}
.pageHead img{
  height: 150px;
  padding-left: 20px;
  float: right;
  margin-top: auto;
  display: inline-block;
  align-self: flex-end;
}
.pageHead h1{
  font-family: 'Roboto Mono', monospace;
  font-weight: 600;
  font-size: 50px;
  color: #bbbdc3;
  font-style: bold;
  float: right;
  margin-left: -30px;
  margin-top: auto;
  margin-bottom: 20px;
  display: inline-block;
  align-self: flex-end;
}

#logout {
  height: 100%;
  padding-top: auto;
}
#logout h1{
  font-family: 'Roboto Mono', monospace;
  font-weight: 600;
  font-size: 30px;
  color: #bbbdc3;
  font-style: bold;
    float: right;

    padding-right: 30px;
    display: inline-block;


}

/* Toggle */
.plus_icon {
  position:relative;
  width:10px; height:10px;
  margin:100px auto;
}

.plus_icon:before {
  content:"";
  position:absolute;
  width:50px;
  height:10px;
  background: #695c54;
  display:inline-block;
}

.plus_icon:after {
  content:"";
  position:absolute;
  margin-top:-20px;
  margin-left:20px;
  width:10px;
  height:50px;
  background: #695c54;
  display:inline-block;
}

.plus_icon:hover:after{
  margin-top:0px;
  width:10px;
  height:10px;
}

.plus_icon:before,
.plus_icon:after {
 -webkit-transition: all 0.3s ease;
 -moz-transition: all 0.3s ease;
 -ms-transition: all 0.3s ease;
 -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  overflow: auto;
  /*min-height: calc(100vh - 150px);
  min-width: 100vh;
  float: left;*/
  background: #3c3e44;
}
.invContent {
    background: #3c3e44;
    transition: 0.5s;
    height: 100%;
}
.invContent.active{
  filter: brightness(50%);
  transition: 0.5s;
}

table, th, td, tr {
  border: 1px solid;
  padding: 15px;
  width: 100%;
  table-layout: fixed;
  align-content: center;
  color: #bbbdc3;
}

table th {
    color: #bbbdc3;
}


.popupCategory{
  position: absolute;
  top: 40%;
  left: calc(50vw + 150px);
  justify-content: center;
  transform: translate(-50%,-50%);
  padding: 50px;
  box-shadow: 0 5px 30px rgba(0,0,0,.30;);
  background: #3c3e44;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;

}

.popupCategory.active{
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
  top: 50%;
}


.contentHead{
  float: left;
  padding: 25px;
  flex: 0 0 auto;
  left: 0;
  right: 0;
  width:100%;
  display: flex;
  flex-direction: row;
}
.contentHead h1{
  font-family: 'Roboto Mono', monospace;
  font-weight: 600;
  font-size: 50px;
  color: #bbbdc3;
  font-style: bold;

}


.popupCategory h1{
  font-family: 'Roboto Mono', monospace;
  font-weight: 600;
  font-size: 35px;
  color: #bbbdc3;
  font-style: bold;

}

.plusButton{
  height: 100px;
  margin-left: auto;
  order: 2;
}
}
.contentBody{
  height: 100%;
}
#createOrderContentLeft{
  width: 75%;
  height: 100%;
  float: left;
}
#createOrderContentRight{
  width: 25%;
  height: 100%;
  float: right;
}
.contentH {
  font-family: 'Roboto Mono', monospace;
  font-weight: 600;
  font-size: 35px;
  color: #bbbdc3;
  font-style: bold;
  padding-left: 15px;

}
